<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting-app</title>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- css, font -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/main.css" rel="stylesheet" />

    <!-- JS -->
    <script type="text/javascript" src="/js/login.js"></script> 
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<style>
    .box {
    box-shadow: 1px 1px 10px gray ;
    }
</style>

<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">로그인 페이지</h1>
                
            </div>
        </div>
    </header>

    <!-- 로그인, 회원가입 기능 -->
    <section class="section" style="padding-top: 200px">
        <div class="container">
            <div class="box" style="max-width: 480px;margin:auto">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <!-- 아이디 입력칸 -->
                            <div class="field has-addons">
                                <div class="control has-icons-left" style="width:100%">
                                    <input id="input-username" class="input" type="text" placeholder="아이디" onkeyup="if(window.event.keyCode==13){username_check_dup()}">
                                    <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                </div>
                                <div id="btn-check-dup" class="control is-hidden">
                                    <button class="button is-sparta" onclick="username_check_dup()">중복확인</button>
                                </div>
                            </div>
                            <p id="help-id" class="help is-hidden">6-15자의 영문과 숫자 입력 필수</p>
                            <p id="help-id-login" class="help is-danger"></p>
                            <!-- 로그인 비밀번호 입력칸 -->
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="input-password" class="input" type="password" placeholder="비밀번호" onkeyup="if(window.event.keyCode==13){sign_in()}">
                                    <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                </div>
                                <p id="help-password" class="help is-hidden">8-20자의 영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 가능</p>
                            </div>
                        </div>
                        <!-- 로그인, 회원가입 버튼 -->
                        <div id="div-sign-in-or-up" class="has-text-centered">
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta" onclick="sign_in()">
                                    로그인
                                </button>
                            </nav>
                            <hr>
                            
                            <h4 class="mb-3">아직 회원이 아니라면</h4>
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta is-outlined"onclick="toggle_sign_up()">
                                    회원가입하기
                                </button>
                            </nav>
                        </div>
                        <!-- 회원가입에 필요한 input들 -->
                        <div id="sign-up-box" class="is-hidden">
                            <!-- 비밀번호2 재 확인 칸 -->
                            <div class="mb-5">
                                <div class="field">
                                    <div class="control has-icons-left" style="width:100%">
                                        <input id="input-password2" class="input" type="password" placeholder="비밀번호 재입력">
                                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <p id="help-password2" class="help is-hiddden"></p>
                                </div>
                            </div>
                            <!-- 닉네임 입력 칸 -->
                            <div class="content">
                                <div class="mb-5">
                                    <div class="field">
                                        <div style="display: flex;">
                                            <div class="control has-icons-left" style="width:100%;">
                                                <input id="input-nickname" class="input" type="text" placeholder="닉네임 입력" onkeyup="if(window.event.keyCode==13){nickname_check_dup()}">
                                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <div id="btn-check-dup" class="control">
                                                <button class="button is-sparta" onclick="nickname_check_dup()">중복확인</button>
                                            </div>
                                        </div>
                                        <p id="help-nickname" class="help is-hiddden"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- 회원가입 및 취소 버튼 -->
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta" onclick="sign_up()">
                                    회원가입
                                </button>
                                <button class="level-item button is-sparta is-outlined" onclick="toggle_sign_up()">
                                    취소
                                </button>
                            </nav>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>

